#menu{
    background-color: #000000cc;
    height: 40%;
    width: 100%;
    position: absolute;
}

#menu > a > img {
    width: 180px;
    height: auto;
    left: 71%;
    position: relative;
    transform: translateX(-50%);
    scale: 5;
    transition: 0.5s;
}