@import url('https://fonts.cdnfonts.com/css/imagination-station');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.55   ),rgba(0,0,0,0.55)),url(../Media/banner-shabushabu.jpg);
    background-size: cover;
    background-position: center;
}

div.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    transition: 0.9s;
}

.change{
    /* background-color: rgba(249, 249, 249, 0.609); */
    height: 3%;
    transition: 0.9s;
    width: 200%;
    scale: 0.9;
    position: sticky;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    scale: 1;
    transition: 0.5s;
}

.navbar ul li:hover{
    scale: 1.3;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #56bd02;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar img{
    width: 180px;
    height: auto;
    scale: 1.2;
    transition: 0.5s;
}

.navbar img:hover{
    scale: 1.5;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    word-wrap: break-word;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Imagination Station', sans-serif;
    color: rgb(53,230,26);
    color: linear-gradient(90deg, rgba(53,230,26,1) 0%, rgba(136,116,18,1) 50%, rgba(64,42,8,1) 100%);
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #56bd02;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    scale: 1;
    transition: 0.7s;
}

.fa-instagram {
    color: white;
    scale: 1.8;
    padding-bottom: 5px;
    transition: 0.5;
  }

.fa-facebook {
    color: white;
    margin-right: 30px;
    margin-left: 5px;
    scale: 1.8;
    padding-bottom: 2px;
    transition: 0.5s;
  }

.fa:hover {
    opacity: 0.7;
    scale: 2;
}

span{
    background: #56bd02;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    scale: 1.2;
}

.column{
    flex: 50%;
    padding: 10px;
}

.column h1 {
    font-family: 'Imagination Station', sans-serif;                          
}

.column h3 {
    font-family: Open Sans;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.row{
    display: flex;
}