@import url('https://fonts.cdnfonts.com/css/imagination-station');
html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.55   ),rgba(0,0,0,0.55)),url(../Media/banner-shabushabu.jpg);
    background-size: cover;
    background-position: center;
}

div.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    transition: 0.9s;
}

.change{
    /* background-color: rgba(249, 249, 249, 0.609); */
    height: 3%;
    transition: 0.9s;
    width: 200%;
    scale: 0.9;
    position: sticky;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    scale: 1;
    transition: 0.5s;
}

.navbar ul li:hover{
    scale: 1.3;
}

button a{
    text-decoration: none;
    color: white;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #56bd02;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar img{
    width: 180px;
    height: auto;
    scale: 1.2;
    transition: 0.5s;
}

.navbar img:hover{
    scale: 1.5;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    word-wrap: break-word;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Imagination Station', sans-serif;
    color: rgb(252,240,103);
    color: linear-gradient(90deg, rgba(252,240,103,1) 33%, rgba(179,135,40,1) 47%); 
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #56bd02;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    scale: 1;
    transition: 0.8s;
}

.fa-instagram {
    color: white;
    scale: 1.8;
    padding-bottom: 5px;
    transition: 0.5;
  }

.fa-facebook {
    color: white;
    margin-right: 30px;
    margin-left: 5px;
    scale: 1.8;
    padding-bottom: 2px;
    transition: 0.5s;
  }

.fa:hover {
    opacity: 0.7;
    scale: 2;
}

span{
    background: #56bd02;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.6s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    scale: 1.13;
}

.column1{
    flex: 50%;
    padding: 10px;
}

.column1 h1 {
    color: #b70e0e;
    font-family: 'Imagination Station', sans-serif;
    font-size: 58px;                          
}

.column1 h3 {
    font-family: Open Sans;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 14.7px;
    padding-bottom: 18px;
    color:#333333;
}

hr{
    margin-top: 100px;
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr:after {
    content: "\1F363";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
.column1 h2{
    font-family: Open Sans;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 3px;
}

.column1 p{
    color:#333333;
    font-size: 17.6px;
    letter-spacing: 1px;
    padding-top: 15px;
}

#p-column{
    line-height: 30px;
}

#colum1-ves p{
    padding-top: 9px;
    font-size: 17px;
    color: #f71713;
    scale: 1.0;
    transition: 0.3s;
}

#colum1-ves p:hover{
    cursor: pointer;
    color: rgb(34, 5, 5);
    scale: 1.01;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column1{
    float: left;
    width: 50%;
    padding: 10px;
}

.column1 button{
    color: white;
    background: linear-gradient(125deg,#e71712,#b70e0e);
    scale: 1.0;
    transition: 0.5s;
    border: none;
    border-radius: 4px;
    margin-top: 50px;
}
.column1 button:hover{
    scale: 1.1;
}

.column1 span{
    background: linear-gradient(125deg,#d81f1c,#a50c0c);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.8s;
}

.column1 button:hover span{
    width: 100%;
}

.section2{
    margin-top: 75px;
}

.row {
    margin-left: 150px;
}

.box-img h2{
    font-family: 'Imagination Station', sans-serif;
}

.section3{
    margin-top: 85px;
}

.heading{
    text-align: center;
}

.heading h2{
    color: #b70e0e;
    font-family: 'Imagination Station', sans-serif;
    font-size: 58px;    
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}

.box-img{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgb(119,153,54);
    background: linear-gradient(90deg, rgba(119,153,54,1) 0%, rgba(146,173,94,1) 20%, rgba(168,189,126,1) 40%, rgba(185,202,152,1) 60%, rgba(199,213,173,1) 80%, rgba(210,221,189,1) 100%);  */
    background: #e7cb9a;
    color: white;
    padding: 20px;
    border-radius: 0.5rem;
    scale: 0.98;
    transition: 0.4s;
}

.box-img img{
    border-radius: 7px;
}

.box-img:hover{
    scale: 1.03;
    cursor: pointer;
    color: #b70e0e;
    background: #e5b380;
    transition: 0.5s;
}

.box-img h2{
    font-size: 46px;
}

.box-img h3{
    align-content: left;
    padding-bottom: 20px;
    color:#fff;
    transition: 0.5s;
}

.box-img h3:hover{
    color:#333333;
}

footer{
    color: #777777 !important;
    background-color: rgba(134, 110, 110, 0.18);
    height: 230px;
    align-items: center;
    text-align: center;
    font-size: 15.6px;
    margin-top: 50px;
}

footer .fa-instagram {
    color: rgb(124, 122, 122);
    scale: 3.1;
    padding-bottom: 5px;
    transition: 0.7;
    margin-top: 60px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
footer .fa-facebook {
        color: rgb(124, 122, 122);
        scale: 2.7;
        transition: 0.7;
        margin-right: 60px;
        cursor: pointer;
}

footer .fa-facebook:hover{
    scale: 2.7;
    color: #a50c0c;
}

footer .fa-instagram:hover{
    scale: 3.1;
    color: #a50c0c;
}

footer p{
    padding-bottom: 10px;
}

footer a{
    transition: 0.3s;
    scale: 1;
    text-decoration: none;
    color: rgb(124, 122, 122);
}

footer a:hover{
    color: #d81f1c;
    scale: 1.1;
    text-decoration: none;
}

.section4 {
    max-width: 1200px;
    max-height: 900px;
    position: relative;
    margin: auto;
    margin-top: 60px;

}

.mySlides {
    display: none;
    max-width: 1200px;
    max-height: 900px;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(255, 0, 0, 0.8);
  }

  .text {
    font-family: 'Cookie';
    color: rgb(0, 255, 170);
    font-size: 65px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .popup {
    position: fixed;
    top: 250px;
    right: -100%;
    width: 300px;
    height: 39vh;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: 2.6s;
    z-index: 1000;
    background-color: #ff0000 !important; /* button color */
    border-color: #8f9396 !important; /* border color */
    color: white !important; /* font color */
    font-size: 16px !important; /* font size */
    align-items: center;
    text-align: center;
    opacity: 90%;
}

.popup.open {
    right: 0;
}

.popup h3{
    font-family: 'Alkatra', cursive;
    font-size: 23px;
}

.popup p{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
}

.close-btn {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 25px;
    left: 13px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    scale: 1.1;
}

.close-btn:hover{
    color: rgb(0, 0, 0);
    scale: 1.11;
}

.popup button{
        color: #ffffff;
        border: solid 2px rgb(255, 255, 255);
}

.popup button:hover{
    color: #000000;
    border: solid 2px rgb(0, 0, 0);
}
